#about {
  margin-top: -20px;
  overflow: hidden;
  padding: 30px;
  background-color: #FFF5EB;

  img {
    max-height: 400px;
    max-width: 100%;
    border-radius: 20px;
    float: right;
    margin: 50px;
  }

  p {
    font-size: 20px;
  }
}
