#projects {
  background-color: #FFE0C2;
  padding: 30px;
}
  #projects img {
    border-radius: 20px;
  }

  #projects a {
    text-align: center;
  }

  #projects p {
    text-align: center;
    font-weight: bold;
  }

