@import "../bower_components/bootstrap/dist/css/bootstrap.css";
@import "font-awesome/scss/font-awesome";
@import url(https://fonts.googleapis.com/css?family=Unica+One);
@import url(https://fonts.googleapis.com/css?family=Vollkorn);

body {
  margin-left: 200px;
  font-family: 'Vollkorn', serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Unica One', cursive;
}

a {
  color: black;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

a:hover {
  text-decoration: none;
  color: #c31;
}

a:focus {
  text-decoration: none;
  color: #c31;
}

.sidebar {
  position: fixed;
  padding: 10px;
  top: 0; left: 0;
  height: 100%;
  width: 200px;
  border-right: 1px solid black;
}

  #sidebar-pic {
    text-align: center;
  }

  #sidebar-pic img {
    max-height: 180px;
    max-width: 100%;
    border-radius: 90px;
  }

  .sidebar ul {
    list-style: none;
  }
    .sidebar ul li {
      margin-top: 60px;
    }
      .sidebar ul li a {
        font-size: 20px;
        font-family: 'Unica One', cursive;
      }

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  body {
    margin-left: 0px;
  }
}

#projects {
  border-bottom: 1px solid black;
}

  #projects a {
    text-align: center;
  }

  #projects p {
    text-align: center;
    font-size: 16px;
  }

#contact {
  padding: 0 30px 30px 30px;
}
  #contact ul {
    list-style: none;
    margin-top: 100px;
    text-align: center;
  }
    #contact ul li {
      display: inline;
      margin: 0 10px 0 10px;
    }

#about {
  padding: 0 30px 30px 30px;
}

#about > div {
  margin: 0 auto;
  width: 700px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

#about > div p {
  font-size: 16px;
  margin: 10px 0;
}

@media (max-width: 960px) {
  #about > div {
    margin: 0;
    width: 100%;
  }
}

@media (max-width: 440px) {
  #about > div p {
    padding-left: 5px;
  }
}

#skills {
  padding: 0 30px 30px 30px;
}

@media (max-width: 440px) {
  #about {
    padding: 0 0 30px 0;
  }
  #skills {
    padding: 0 0 30px 0;
  }
  #contact {
    padding: 0 0 30px 0;
  }
}

#skills-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

#skills-list li {
  display: inline-block;
  font-size: 20px;
  padding: 0 20px;
}

#skills-list li:before {
  content: '-';
}

#skills-list li:after {
  content: '-';
}

.wk-img-div {
  padding: 0;
  position: relative;
}

.wk-info-div {
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.wk-img-div:hover > .wk-info-div {
  display: block;
}

.sub-head-p {
  font-size: 20px;
}

@media (max-width: 440px) {
  .wk-info-div {
    display: block;
    position: relative;
    z-index: 0;
    box-shadow: none;
  }
}
